[client]
host=127.0.0.1
port=13306
user=root
password=dev

[mysql]
host=127.0.0.1
port=13306
user=root
password=dev
default-character-set=utf8
local-infile=1
show-warnings
auto-rehash
sigint-ignore
reconnect

[mysqldump]
host=127.0.0.1
port=13306
user=root
password=dev
