Host *
    Compression             yes
    CompressionLevel        6
    TCPKeepAlive            yes
    KeepAlive               yes
    ServerAliveInterval     60
    ForwardAgent            yes
    IdentityFile            ~/.ssh/id_rsa
